<%= form_with(model: @property, local: true, url: choose_new_or_edit) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %> 件のエラーがあります。</h2>

      <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label :物件名 %></p>
    <p><%= form.text_field :property_name %></p>
  </div>

  <div class="field">
    <p><%= form.label :賃料 %></p>
    <p><%= form.text_field :rent %>円</p>
  </div>

  <div class="field">
    <p><%= form.label :住所 %></p>
    <p><%= form.text_field :address %></p>
  </div>

  <div class="field">
    <p><%= form.label :築年数 %></p>
    <p><%= form.text_field :the_age_of_the_building %>年</p>
  </div>

  <div class="field">
    <p><%= form.label :備考 %></p>
    <p><%= form.text_area :remarks %></p>
  </div>

  <hr>
  <% number = 0 %>
  <%= form.fields_for :nearest_stations do |g| %>
  <h2>最寄り駅<%= number += 1 %></h2>
    <p><%= g.label :路線名 %></p>
    <p><%= g.text_field :line %></p>
    <p><%= g.label :駅名 %></p>
    <p><%= g.text_field :station %></p>
    <p><%= g.label :徒歩分数 %></p>
    <p><%= g.text_field :on_foot %>分</p>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
