<p id="notice"><%= notice %></p>

<p>
  <strong>Property name:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>The age of the building:</strong>
  <%= @property.the_age_of_the_building %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>


<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
