<p id="notice"><%= notice %></p>

<p>
  <p>物件名:
  <%= @property.property_name %></p>
</p>

<p>
  <p>賃料:
  <%= @property.rent %></p>
</p>

<p>
  <p>住所:
  <%= @property.address %></p>
</p>

<p>
  <p>築年数:
  <%= @property.the_age_of_the_building %></p>
</p>

<p>
  <p>備考:
  <%= @property.remarks %></p>
</p>

<hr>
<% number = 0 %>
<% @property.nearest_stations.each do |nearest_station|%>
  <h2>最寄駅<%= number += 1 %></h2>
  <p>
    <strong>路線名:</strong>
    <%= nearest_station.line %>
  </p>
  <p>
    <strong>駅名:</strong>
    <%= nearest_station.station %>
  </p>
  <p>
    <strong>徒歩分数:</strong>
    <%= nearest_station.on_foot %>分
  </p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
